In [1]:
import numpy as np
import pandas as pd

In [2]:
    # read demographics file 
demog_df = pd.read_csv(r'C:\Users\Ashish\OneDrive - Oklahoma A and M System\CLV\Input Datasets\TP_demog_data.csv')

In [3]:
demog_df.head()
demog_df.shape

(240368, 11)

In [4]:
# Investigating the long character lengths of the owner vs renter variable
# where, in the code below, demog_df is a dataframe of the demographics data TP_demog_data.csv

print(" ") 
print("count of accounts by ownrent variable")
print(" ") 
print(demog_df.groupby('demog_ownrent')['acct_ID'].count())

count of accounts by ownrent variable

demog_ownrent
Definite Owner (any type dwelling unit)    153895
Definite Renter                              5388
Probable Owner (any type dwelling unit)      4016
Probable Renter                              5245
Name: acct_ID, dtype: int64

In [5]:
# recoding the long values for ownrent variable

demog_df['demog_ownrent']=np.where(demog_df['demog_ownrent']=='Definite Owner (any type dwelling unit)','Definite Owner',
                        np.where(demog_df['demog_ownrent']=='Probable Owner (any type dwelling unit)','Probable Owner',
                                 demog_df['demog_ownrent']))

In [6]:
print(" ") 
print("count of accounts by ownrent variable")
print(" ") 
print(demog_df.groupby('demog_ownrent')['acct_ID'].count())

count of accounts by ownrent variable

demog_ownrent
Definite Owner     153895
Definite Renter      5388
Probable Owner       4016
Probable Renter      5245
Name: acct_ID, dtype: int64

In [7]:
# Counts of records by Length-of-Residence metric

print(" ") 
print("count of accounts by LOR variable")
print(" ") 
print(demog_df.groupby('demog_LOR')['acct_ID'].count())

count of accounts by LOR variable

demog_LOR
00 - 06 Months       4920
07 - 12 Months       3600
10th Year            8362
11th Year            7829
12th Year            7336
13 - 18 Months       6796
13th Year            6305
14th Year            5869
15th Year            5954
16th Year            5429
17th Year            5418
18th Year            5261
19 - 24 Months       7283
19th Year            4389
20 or more Years    59828
3rd Year            15922
4th Year            13748
5th Year            12410
6th Year            12486
7th Year            10485
8th Year            10008
9th Year             8591
Name: acct_ID, dtype: int64

In [8]:
# recoding the LOR variable to collapse levels

demog_df['demog_LOR']=np.where(demog_df['demog_LOR']=='00 - 06 Months','00 to 05 years',
                         np.where(demog_df['demog_LOR']=='07 - 12 Months','00 to 05 years',
                         np.where(demog_df['demog_LOR']=='13 - 18 Months','00 to 05 years', 
                         np.where(demog_df['demog_LOR']=='19 - 24 Months','00 to 05 years',
                         np.where(demog_df['demog_LOR']=='3rd Year',      '00 to 05 years',
                         np.where(demog_df['demog_LOR']=='4th Year',      '00 to 05 years', 
                         np.where(demog_df['demog_LOR']=='5th Year',      '00 to 05 years',  
                         np.where(demog_df['demog_LOR']=='6th Year',      '06 to 10 years',   
                         np.where(demog_df['demog_LOR']=='7th Year',      '06 to 10 years', 
                         np.where(demog_df['demog_LOR']=='8th Year',      '06 to 10 years',   
                         np.where(demog_df['demog_LOR']=='9th Year',      '06 to 10 years',
                         np.where(demog_df['demog_LOR']=='10th Year',     '06 to 10 years',     
                         np.where(demog_df['demog_LOR']=='11th Year',     '11 to 19 years',     
                         np.where(demog_df['demog_LOR']=='12th Year',     '11 to 19 years',  
                         np.where(demog_df['demog_LOR']=='13th Year',     '11 to 19 years',     
                         np.where(demog_df['demog_LOR']=='14th Year',     '11 to 19 years',  
                         np.where(demog_df['demog_LOR']=='15th Year',     '11 to 19 years',     
                         np.where(demog_df['demog_LOR']=='16th Year',     '11 to 19 years',  
                         np.where(demog_df['demog_LOR']=='17th Year',     '11 to 19 years',     
                         np.where(demog_df['demog_LOR']=='18th Year',     '11 to 19 years',
                         np.where(demog_df['demog_LOR']=='19th Year',     '11 to 19 years',     
                         np.where(demog_df['demog_LOR']=='20 or more Years',     '20+ years',                                    
                                 demog_df['demog_LOR']))))))))))))))))))))))

print(" ") 
print("count of account IDs by new LOR levels")
print(" ") 
print(demog_df.groupby('demog_LOR')['acct_ID'].count())
demog_df.shape

count of account IDs by new LOR levels

demog_LOR
00 to 05 years    64679
06 to 10 years    49932
11 to 19 years    53790
20+ years         59828
Name: acct_ID, dtype: int64

(240368, 11)

In [9]:
# creating some numeric versions of some of the categorical demographics

demog_df['demog_assets_num']=np.nan
demog_df['demog_assets_num']=np.where(demog_df['demog_assets']== 'IPA <= 25000',        12500, 
                      np.where(demog_df['demog_assets']== '25000 < IPA <= 50000',       37500,
                      np.where(demog_df['demog_assets']== '50000 < IPA <= 75000',       62500,
                      np.where(demog_df['demog_assets']== '75000 < IPA <= 100000',      87500,
                      np.where(demog_df['demog_assets']== '100000 < IPA <= 250000',    175000,
                      np.where(demog_df['demog_assets']== '250000 < IPA <= 500000',    375000,
                      np.where(demog_df['demog_assets']== '500000 < IPA <= 750000',    650000,
                      np.where(demog_df['demog_assets']== '750000 < IPA <= 1000000',   875000,
                      np.where(demog_df['demog_assets']== '1000000 < IPA <= 2000000', 1500000,
                      np.where(demog_df['demog_assets']== '2000000 < IPA', 2500000, demog_df['demog_assets_num']))))))))))

demog_df['demog_inc_num']=np.nan
demog_df['demog_inc_num']=np.where(demog_df['demog_inc_fine']== 'Less than $15000',10000, 
                      np.where(demog_df['demog_inc_fine']== '$  15000 - $  19999', 17500,
                      np.where(demog_df['demog_inc_fine']== '$  20000 - $  29999', 25000,
                      np.where(demog_df['demog_inc_fine']== '$  30000 - $  39999', 35000,
                      np.where(demog_df['demog_inc_fine']== '$  40000 - $  49999', 45000,
                      np.where(demog_df['demog_inc_fine']== '$  50000 - $  74999', 62500,
                      np.where(demog_df['demog_inc_fine']== '$  75000 - $  99999', 87500,
                      np.where(demog_df['demog_inc_fine']== '$ 100000 - $124999', 112500,
                      np.where(demog_df['demog_inc_fine']== '$ 125000 - $149999', 137500,
                      np.where(demog_df['demog_inc_fine']== '$ 150000 - $174999', 162500,
                      np.where(demog_df['demog_inc_fine']== '$ 175000 - $199999', 187500,
                      np.where(demog_df['demog_inc_fine']== '$ 200000 - $249999', 225000,
                      np.where(demog_df['demog_inc_fine']== '$ 250000 or more',   300000, demog_df['demog_inc_num'])))))))))))))

demog_df.shape

(240368, 13)

In [10]:
demog_df.demog_homevalue.unique()

demog_df.shape

(240368, 13)

In [11]:
demog_df['demog_homevalue_num']=np.nan
demog_df['demog_homevalue_num']=np.where(demog_df['demog_homevalue']== 'Less than $50000',25000, 
                      np.where(demog_df['demog_homevalue']== '$ 50000 - $ 99999', 75000,
                      np.where(demog_df['demog_homevalue']== '$100000 - $149999', 125000,
                      np.where(demog_df['demog_homevalue']== '$150000 - $199999', 175000,
                      np.where(demog_df['demog_homevalue']== '$200000 - $249999', 225000,
                      np.where(demog_df['demog_homevalue']== '$250000 - $299999', 275000,
                      np.where(demog_df['demog_homevalue']== '$300000 - $349999', 325000,
                      np.where(demog_df['demog_homevalue']== '$350000 - $399999', 375000,
                      np.where(demog_df['demog_homevalue']== '$400000 - $449999', 425000,
                      np.where(demog_df['demog_homevalue']== '$450000 - $499999', 475000,
                      np.where(demog_df['demog_homevalue']== '$500000 - $599999', 550000,
                      np.where(demog_df['demog_homevalue']== '$600000 - $699999', 650000,
                      np.where(demog_df['demog_homevalue']== '$700000 - $799999', 750000,
                      np.where(demog_df['demog_homevalue']== '$800000 - $999999', 900000,
                      np.where(demog_df['demog_homevalue']== '$1000000 - $1499999',1250000 ,
                      np.where(demog_df['demog_homevalue']== '$1500000 - $1999999', 1750000,
                      np.where(demog_df['demog_homevalue']== '$2000000 and over',   2250000, 
                               demog_df['demog_homevalue_num'])))))))))))))))))
demog_df.shape

(240368, 14)

In [12]:
# and dropping the original non-numeric versions from the data:

demog_df = demog_df.drop(['demog_inc_fine','demog_assets','demog_inc_crs','demog_homevalue'
                              ],axis=1)
demog_df.shape

(240368, 10)

In [13]:
# creating csv with changed demogprahic values
demog_df.to_csv(r'C:\Users\Ashish\OneDrive - Oklahoma A and M System\CLV\Output Datasets\TP_demog_new.csv',index=False)

In [14]:
demog_df.dtypes

demog_LOR               object
demog_ownrent           object
demog_age               object
demog_span               int64
demog_generations      float64
demog_adults           float64
acct_ID                 object
demog_assets_num       float64
demog_inc_num          float64
demog_homevalue_num    float64
dtype: object